body {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #666;
    background: -webkit-linear-gradient(to right, #222, #434343);
    background: linear-gradient(to right, #222, #434343);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.gameSection {
    border: 2px #666 solid;
}